.table1 {
  font-family: sans-serif;
  color: #1ff517;
  border-collapse: collapse;
}

.table1,
th,
tr {
  border: 1px solid rgb(221, 14, 14);
  padding: 15px 60px;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  background-color: #949c94;
  z-index: 0;
  font-size: 15px;
}
td {
  border: 1px solid rgb(63, 39, 200);
  padding: 15px 60px;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  background-color: #17c1f5;
  z-index: 0;
  font-size: 15px;
}
